/*!
 * Bootstrap v5.2.3 (https://getbootstrap.com/)
 * Copyright 2011-2022 The Bootstrap Authors
 * Copyright 2011-2022 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 */

// Configuration
@import url("responsive/styles/bootstrap/_functions.scss");
@import "../../colorvars";
@import "../themevars-__THEMENAME__";
@import "layoutvars-__LAYOUTNAME__";

/* Overwrite Bootstrap Grid Row Columns */
$grid-row-columns:  12 !default;

@import url("responsive/styles/bootstrap/_variables.scss");
@import url("responsive/styles/bootstrap/_maps.scss");
$theme-colors: map-merge($theme-colors, $colors);
@import url("responsive/styles/bootstrap/_mixins.scss");
@import url("responsive/styles/bootstrap/_utilities.scss");

// Layout & components from theme
@import url("/responsive/styles/theme/__THEMENAME__.scss");

// Helpers
@import url("responsive/styles/bootstrap/helpers");

// Utilities !!!!
@import url("responsive/styles/bootstrap/utilities/api");

// Custom
__CUSTOM-STYLES__;

// Custom Styling
@import "../theme-__THEMENAME__";
// @import "layout-__LAYOUTNAME__";
