{% use "@Contao/component/_headline.html.twig" %}
{#
This component outputs a semantic headline.

    <h1>headline</h1>

Mandatory variables:
    @var string text

Optional variables:
    @var string tag_name
    @var \Contao\CoreBundle\String\HtmlAttributes attributes

Note:
    You can either group all variables in an object named "headline" or
    all directly in the context. Grouping under an object has precedence.
#}

{% block headline_attributes %}
    {% if data.bootstrap_headline_class %}
        {% set headline = headline|merge({attributes: attrs(headline.attributes|default).addClass(data.bootstrap_headline_class)}) %}
    {% endif %}
    {{ parent() }}
{% endblock %}
